header {
    background-color:black;
    display: inline-block;
    width: 100%;
    background-image: url("images/floor.jpg");
    margin:0;
}

nav li{
margin: 0 25px;
display:inline-block;
font-family: Helvetica;
color:white;
box-sizing: border-box

;


}

nav img{
    
    float:right;
    position:relative;
    padding-top: 0;
    margin-top: 0;
}

h2 {
    padding: 50px;
    text-align: center;
    font-size: 56px;
    font-family:Helvetica;
    color:gold;
    position: relative;
    border: 3px solid black;
    margin: 10px 30px 10px 50px;
    background-image:url("images/chips.jpg") ;
    background-size: 100%;
    
    

}

h3{
    color: white;
    background-image: url("images/chips.jpg");
    text-align:initial;
    font-size: 32px;
    color: gold;
    margin-bottom: 5px;
    
    
    

}
     
p{
    color: white;
    text-align: center;
    

    
    

}

#page1{ 
    margin-top: 20px;
    text-align: center;
    font-size: 100px;
    background-color:black;
    color: white;
    text-decoration: none;
    position: center;
    
    }

    html{

        background-color: black;


    }

    h1{

        color:white;
        font-size: 32px;
        
    }
